
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

@font-face {
    font-family: 'Wildera Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fonts/Wildera-Regular.woff') format('woff');
};
