@import '~src/sass/main';


.form-control{
    padding-left: 20px;
    border-radius: 20px;
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $grey;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $grey;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: $grey;
      }
}

.form-group{
    label{
        font-size: .9rem;
    }
}
.close-btn{
    position: absolute;
    right: 5px;
    top: 5px;
}
.small-text {
    font-size: .8rem;
}
.smaller-text{
    font-size: .7rem;
}
.claim-detail{
    background-color: $grey;
    padding: 1rem;
    position: relative;
}

a{
    color: $lightGreen;
}

h1{
    line-height: 1;
}

h5{
    min-height: 65px;
}

